*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

body.no-scroll{
    overflow:hidden;
}

h2{
    font-size: 36px;
    font-weight: 800;
    color: #323232;
    word-break: break-word;
}

h3{
    font-size: 18px;
    font-weight: 500;
}

p,a{
    font-size: 16px;
    color: #999999;
}

.container{
    max-width: 1113px;
    min-height: 100%;
    margin: 0 auto;
    padding-left:15px !important;
    padding-right:15px !important;
}

.btn{
    width: 200px;
    height: 45px;
    margin: 0 auto;
    padding: 13px 36px;
    background: #4985FF;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    transition:all .3s;
    display: flex;
    justify-content: center;
}
.btn:hover{
    background: rgb(56, 107, 207);

}

.more{
    color: #4985FF;
}
.more:hover{
    color: rgb(56, 107, 207);
}

hr{
    width: 100%;
    opacity: 0.5;
    border: 1px solid #A1A1A1;
    position: absolute;
    left: 0;
}

header{
    max-width: 100%;
    height: auto;
    background: url(../img/header-bg.png) center no-repeat;
    background-size: cover;
}
nav{
    max-width: 100%;
    margin: 0 0 0 auto;
}

nav .nav-list{
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}

nav .open{
    opacity: 1;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    transition:  1.3s ease-in-out;
}

.open li {
    margin: 0 !important;
}

.open  a{
    color: #000000 !important;
    position: relative;
    padding: 0 0 10px;
}

.open  a::after{
    content: '';
    width: 0%;
    height: 2px;
    background-color: #000;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: .3s ease-in-out;
}

.open  a:hover::after{
    width: 100%;
}

nav .nav-list .nav-list__item {
    margin-right:40px;
    padding: 40px 0;
    transition:  .3s;
    border-bottom: 2px solid transparent;
}

nav .nav-list .nav-list__item:hover{
    border-color:  #ffffff;
}

nav .nav-list .nav-list__item a{
    text-decoration: none;
    color: #ffffff;

}

.mob-menu{
    width: 30px;
    height: 30px;
    z-index: 111111;
    position: absolute;
    top: 5%;
    right: 10%;
    display: none;
}

.mob-menu span{
    display: block;
    margin: 5px 0;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transition: all .3s ease-in-out;
}

.mob-menu.active  span{
    background-color: #000000;
}

.mob-menu.active span:nth-child(1){
    transform: translate(0px,10px) rotate(45deg);
}

.mob-menu.active span:nth-child(2){
    transform: translate(0px,3px) rotate(45deg);
}
.mob-menu.active span:nth-child(3){
    transform: translate(0px,-4px) rotate(-45deg);
}



.header-offer {
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 220px 0 335px 0 ;
}

.header-offer  p{
    color: #FFFFFF;
    padding-bottom: 20px;
}

.header-offer  h1{
    text-align: center;
    font-size: 48px;
    color: #FFFFFF;
    padding-bottom: 50px;
}





.mob-app{
    padding: 110px 0 105px 0 ;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.mob-app .mob-app__title{
    text-align: center;
    padding-bottom: 50px;
}

.mob-app .mob-app__desc{
    margin: 0 auto;
    max-width: 730px;
    text-align: center;
    color: #999999;
    padding-bottom: 70px;
}

.mob-app .services{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.mob-app .services .service{
    max-width: 353px;
    display: flex;
    padding:  0 0 55px;
}

.mob-app .services .service img{
    width: 110px;
    height: 110px;
}

.mob-app .services .service .service-info{
    padding: 46px 17px 0;
}

.standarts-wrap{
    background: #F6F6F8;
}

.standarts{
    padding: 100px 0 0;
}

.standarts-wrap .standarts .standarts-offer{
    padding:  0 0 90px;
    border-bottom: 1px solid #E0E0E0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.standarts-wrap .standarts .standarts-offer .standarts-offer__text{
    max-width: 470px;
    align-self: center;
}

.standarts-wrap .standarts .standarts-offer .standarts-offer__text h2{
    padding-bottom: 40px;
}

.standarts-wrap .standarts .standarts-offer .standarts-offer__text p{
    color: #999999;
    max-width: 100%;
    padding-bottom: 30px;
}



.standarts-wrap .standarts .stanarts-counts{
    padding: 70px 0;
    /* width: 712px;
    margin: 0 auto; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.standarts-wrap .standarts .stanarts-counts .stanart-count{
    width: 104px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.standarts-wrap .standarts .stanarts-counts .stanart-count img{
    width: 30px;
    height: 30px;
    align-self: center;
}

.standarts-wrap .standarts .stanarts-counts .stanart-count span{
    font-size: 36px;
    color: #000000;
    /* padding-left: 20px; */
}

.bg{
    position: absolute;
    width: 100%;
    height: 470px;
    background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%), #C4C4C4;
    /* padding: 0 0 520px; */
    z-index: -1;

}

.our-works__wrap .our-works{
    padding-bottom: 85px;
}

.our-works__wrap .our-works .our-work__offer{
    padding: 100px 0 80px ;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.our-works__wrap .our-works .our-work__offer .offer-title{
    width: 82%;
    margin: 10px 0;
    color: #ffffff;
}

.our-works__wrap .our-works .our-work__cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid #E0E0E0;

}

.our-works__wrap .our-works .our-work__cards .our-work__card{
    width: 350px;
    padding-bottom: 85px;
}

.our-works__wrap .our-works .our-work__card-title{
    font-weight: 500;
    padding: 30px 0;
}

.our-works__wrap .our-works .our-work__card-title span{
    color: #4985FF;
}

.our-works__wrap .our-works .our-work__card-desc{
    padding: 0 0 30px ;
}

.our-projects__wrpa{
    background: #F6F6F8;
}

.our-projects{
    padding: 100px 0 130px;
}

.our-projects h2 {
    text-align: center;
}
.our-projects p{
    max-width: 730px;
    text-align: center;
    margin: 0 auto;
    padding: 50px 0 70px;
    word-break: break-word;
}

.our-project__cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.our-project__card{
    padding-bottom: 50px;
}



.bg-2{
    width: 100%;
    height: 570px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), url(../img/video-bg.png);
    position: absolute;
    z-index: -1;
}

.videos-title{
    text-align: center;
    padding: 70px 0 30px;
    color: #FFFFFF;
}

.videos-desc{
    text-align: center;
    padding:0 0 70px ;
    color: #FFFFFF;
}

.video{
    position: relative;
    padding-bottom: 85px;
    border-bottom: 1px solid #E0E0E0;
}

.video p{
    text-align: center;
}

.video p img{
    width: 100%;
}

.play-btn{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-10%);
    padding: 40px 29px 40px 121px;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 200px;
    background: transparent;
    font-size: 16px;
    background: url(../img/play-button.svg) center no-repeat;
    background-position-x: 18%;
    transition: all .3s;

}

.play-btn:hover{
    background-color:rgba(46, 88, 172, 0.425);
    border-color: #4985FF;
}

.form-wrap{
    padding: 85px 0;
    text-align: center;
}

.form-wrap .form-desc{
    padding: 20px 0 30px;
}

.form-wrap form {
    padding-bottom: 35px;
}

.form-wrap form input[type=email]{
    height: 45px;
    width: 299px;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px 0 0 30px;
    padding: 0 33px;
    border: none;
}

.form-wrap form input[type=email]::placeholder{
    font-size: 13px;
    color: #999999;
}

.form-wrap form input[type=submit]{
    height: 45px;
    width: 190px;
    background: #4985FF;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 0px 30px 30px 0px;
    padding: 0 26px;
    border: none;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    transform: translate(-4px, 2px);
}

footer{
    background: #F6F6F8;
}

.footer-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 70px 0;
    border-bottom: 1px solid #E0E0E0;
}


.contact-info__list {
    list-style: none;
}
.main-link__list,.our-project__list,.social-list{
    list-style: url(../img/right-arrow.svg);
}
.contact-info__list .contact-info__item:nth-child(1),
.main-link__list .main-link__item:nth-child(1),
.our-project__list .our-project__item:nth-child(1),
.social-list .social-item:nth-child(1){
    padding: 35px 0 0;
}

.contact-info__list .contact-info__item{
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #999999;
    padding: 30px 0 0;
}

.contact-info__list .contact-info__item svg{
    margin-right: 15px;

}

.contact-info__list .contact-info__item a,
.main-link__list .main-link__item a,
.our-project__list .our-project__item a,
.social-list .social-item a{
    text-decoration: none;
    font-size: 14px;
}

.main-link__list .main-link__item a:hover,
.our-project__list .our-project__item a:hover,
.social-list .social-item a:hover{
    color: #000000;
}

.main-link__list .main-link__item,
.our-project__list .our-project__item,
.social-list .social-item{
    font-size: 14px;
    color: #999999;
    padding: 30px 0 0;
}


.copyright{
    text-align: center;
    padding: 30px 0 ;
}

/* Media */

@media (max-width:1100px){
    .our-works__wrap .our-works .our-work__cards, .our-project__cards{
        justify-content: space-around;
    }

    .video{
        width: 700px;
        margin: 0 auto;
    }

    .play-btn{
        top: 35%;
        padding: 25px 30px 25px 100px;
    }
}

@media (max-width:1000px){
    nav .nav-list{
        justify-content: center;
    }

    .mob-app .services{
        align-items: center;
        flex-direction: column;
    }

    .standarts-wrap .standarts .standarts-offer{
        text-align: center;
    }

    .standarts-wrap .standarts .standarts-offer .standarts-offer__text{
        max-width: 100%;
    }

    .standarts-wrap .standarts .standarts-offer img{
        margin: 0 auto;
    }

    .our-works__wrap .our-works .our-work__offer .offer-title{
        width: 100%;
        text-align: center;
        margin: 10px 0 20px;
    }

    .footer-nav{
        justify-content: space-around;
    }

    .footer-nav div {
        margin: 0 0px 15px;
        width: 250px;
    }
}

@media (max-width:630px){
    nav .nav-list{
        display: none;
    }
    nav .open{
        display: flex;
    }

    .mob-menu{
        display: block;
    }
    
    .bg-2{
        height:470px;
    }

    .video{
        width: 450px;
        margin: 0 auto;
    }

    .play-btn{
        font-size: 0;
        padding:30px;
        border: none;
        top: 25%;
    }

    .form-wrap form input[type=email]{
        border-radius: 30px;
    }

    .form-wrap form input[type=submit]{
        box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
        border-radius: 30px;
        margin: 10px 0 0;
    }

}

@media (max-width:500px){
    .standarts-wrap .standarts .standarts-offer img{
        width: 350px;
        margin: 10px auto;
        height: auto;
    }

    .standarts-wrap .standarts .stanarts-counts .stanart-count{
        margin: 5px 10px;
    }

    .video{
        width: 350px;
        margin: 0 auto;
    }

    .play-btn{
        font-size: 0;
        padding:30px;
        border: none;
        top: 25%;
    }

    .copyright{
        font-size: 10px;
    }
}

@media (max-width:375px){
    h2{
        font-size: 26px;
    }

    .standarts-wrap .standarts .standarts-offer img,.video ,  .our-work__card img {
        width: 300px;
        height: auto;
    }

    .bg{
        height: 570px;
    }

    .our-works__wrap .our-works .our-work__cards .our-work__card  a{
        text-align: center;
    }

    .form-wrap form input[type=email]{
        width: 250px;
    }

    .form-wrap form input[type=submit]{
        width: 150px;
    }

}

